In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("input"))

['data.csv']

In [2]:
data = pd.read_csv('input/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
from datetime import datetime

In [5]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста

In [6]:
# сюда можем вписать создание новых колонок в датасете
data['profit'] = data['revenue'] - data['budget'] #Прибыль фильма

In [7]:
#преобразование release_date к datetime формату
data['release_date'] = data['release_date'].apply(lambda date: datetime.strptime(date, '%m/%d/%Y'))

In [8]:
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,185238201
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1868178225
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015,1316249360

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   datetime64[ns]
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
 16  profit                1890 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(8)
memory usage: 251.1+ KB

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [10]:
data[data.budget == data.budget.max()]['original_title']

491    The Warrior's Way
Name: original_title, dtype: object

In [11]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [12]:
data[data.runtime == data.runtime.max()]['original_title']

1158    Gods and Generals
Name: original_title, dtype: object

In [13]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [14]:
data[data.runtime == data.runtime.min()][['original_title','runtime']]

      original_title  runtime
769  Winnie the Pooh       63

In [15]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [16]:
round(data.runtime.mean(),0)

110.0

In [17]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [18]:
round(data.runtime.median(),0)

106.0

In [19]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [20]:
#Для ответа на все последующие вопросы о прибыли, 
#в разделе подготовки данных был создан столбец profit 
data[data.profit == data.profit.max()]['original_title']

239    Avatar
Name: original_title, dtype: object

In [21]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [22]:
data[data.profit == data.profit.min()][['original_title','profit']]

        original_title     profit
491  The Warrior's Way -413912431

In [23]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [24]:
len(data[data.profit>0])

1478

In [25]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [26]:
data[(data['profit'] == data[data.release_year == 2008]['profit'].max())&(data.release_year == 2008)]['original_title']

600    The Dark Knight
Name: original_title, dtype: object

In [27]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

`АААААРРРГХ, ну как можно было написать 1013 вместо 2013 :)))`

In [28]:
#Ошибочный код...
#data[(data['profit'] == data[data.release_year.isin([2012, 1013, 2014])]['profit'].min())&(data.release_year.isin([2012, 1013, 2014]))][['original_title', 'profit','release_year']]

In [29]:
data_years = data[data['release_year'].isin(range(2012,2015))]
data_years[data_years['profit'] == data_years['profit'].min()]['original_title']

1246    The Lone Ranger
Name: original_title, dtype: object

In [30]:
#Исправление ошибочного ответа
answer_ls.append(4)
answer_ls[-1] = 5

In [31]:
answer_ls

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5]

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [32]:
c = Counter()
for genres in data['genres']:
    genres_list = genres.split('|')
    for genre in genres_list:
        c[genre] +=1
c.most_common(1)

[('Drama', 782)]

In [33]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [34]:
c = Counter()
for genres in data[data.profit > 0]['genres']:
    genres_list = genres.split('|')
    for genre in genres_list:
        c[genre] +=1
c.most_common(1)

[('Drama', 560)]

In [35]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [36]:
c = Counter()
for director in data['director']:
    c[director] +=1
c.most_common(1)

[('Steven Soderbergh', 13)]

In [37]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [38]:
c = Counter()
for director in data[data.profit > 0]['director']:
    c[director] +=1
c.most_common(1)

[('Ridley Scott', 12)]

In [39]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [40]:
#Группировка данных по режисёрам с суммой по прибыли
directors = data.groupby(['director'])['profit'].sum().reset_index()
directors[directors.profit == directors.profit.max()]

          director      profit
689  Peter Jackson  5202593685

In [41]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [42]:
#Словарь для хранения пары: Актёр - суммарная прибыль
cast_dict = {}
for i, cast in enumerate(data.cast):
    cast_list = cast.split('|')
    profit = data.iloc[i]['profit'] #Запись прибыли для рассматриваемой прибыли
    for actor in cast_list:
        cast_dict[actor] = cast_dict.get(actor, 0) + profit #Способ получения данных по ключу без ошибки отсутствия данных

#Способ вывода ключа с максимальным значением
for key, value in cast_dict.items():
    if value == max(cast_dict.values()):
        print(key)
        break

Emma Watson

In [43]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [44]:
cast_dict = {}
cur_data = data[(data.release_year == 2012)] #Рассматривается DF, содержащий только фильмы 2012
#В остальном, подход аналогичен описанному выше
for i, cast in enumerate(cur_data.cast):
    cast_list = cast.split('|')
    profit = cur_data.iloc[i]['profit']
    for actor in cast_list:
        cast_dict[actor] = cast_dict.get(actor, 0) + profit

for key, value in cast_dict.items():
    if value == min(cast_dict.values()):
        print(key, value)
        break

Kirsten Dunst -68109207

In [45]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [46]:
mean_budget = data.budget.mean() #Средний бюджет фильмов в выборке
c = Counter()
for cast in data[data.budget > mean_budget].cast: #рассматриваем только фильмы с бюджетом выше среднего
    cast_list = cast.split('|')
    for actor in cast_list:
        c[actor] +=1 #Считаем число высокобюджетных фильмов для каждого актёра
c.most_common(1)

[('Matt Damon', 18)]

In [47]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [97]:
genres_count = Counter()
for genres in data[data.cast.str.contains("Nicolas Cage")].genres: #Рассматриваем жанры датафрейма 
    #фильмов с участием Николаса Кейджа
    genres_list = genres.split('|')
    for genre in genres_list:
        genres_count[genre] +=1
genres_count.most_common(1)

[('Action', 17)]

In [49]:
answer_ls.append(2)

In [50]:
answer_ls[10:19]

[3, 1, 3, 4, 5, 1, 3, 3, 2]

#### Следующие 8 вопросов посвящены студиям. Подготовим данные для анализа

In [51]:
#Словарь пары: киностудия - список id фильмов
studios_dict = {}
tmp_lt = []

#Создадим функцию, которая на вход получает строку, и на её основе заполняет словарь
def split_studios(row):
    tmp_lt.append(row['imdb_id'])
    #print(row['imdb_id'])
    temp_lt = row['production_companies'].split('|')
    for studio in temp_lt:
        if not(studio in studios_dict):
            studios_dict[studio] = [row['imdb_id']]
        else:
            studios_dict[studio].append(row['imdb_id']) 
    return 1

#Применим эту функцию
data.apply(split_studios, axis = 1)

0       1
1       1
2       1
3       1
4       1
       ..
1885    1
1886    1
1887    1
1888    1
1889    1
Length: 1890, dtype: int64

In [52]:
#Создадим датафрейм, содержащий в себе компании и список фильмов
studios = pd.DataFrame(columns=['companies','imdb_id_list'])
studios.companies = studios_dict.keys()
studios.imdb_id_list = studios_dict.values()

In [53]:
studios.head(20)

,companies,imdb_id_list
0,Universal Studios,"[tt0369610, tt0192111, tt0163025, tt1272878, t..."
1,Amblin Entertainment,"[tt0369610, tt3682448, tt2109248, tt2980648, t..."
2,Legendary Pictures,"[tt0369610, tt1398426, tt2717822, tt3850590, t..."
3,Fuji Television Network,"[tt0369610, tt3152624, tt0829150]"
4,Dentsu,"[tt0369610, tt2820852, tt3152624, tt0829150, t..."
5,Village Roadshow Pictures,"[tt1392190, tt1617661, tt2126355, tt3322364, t..."
6,Kennedy Miller Productions,"[tt1392190, tt0366548]"
7,Summit Entertainment,"[tt2908446, tt1618442, tt1014763, tt1840309, t..."
8,Mandeville Films,"[tt2908446, tt1041829, tt0986263, tt1711425, t..."
9,Red Wagon Entertainment,"[tt2908446, tt1840309, tt1343092, tt0418763, t..."
10,NeoReel,"[tt2908446, tt1618442, tt2017020]"
11,Lucasfilm,"[tt2488496, tt0367882, tt0121765, tt0121766]"
12,Truenorth Productions,[tt2488496]
13,Bad Robot,"[tt2488496, tt2381249, tt0796366, tt1126618, t..."
14,Universal Pictures,"[tt2820852, tt2293640, tt2637276, tt2848292, t..."
15,Original Film,"[tt2820852, tt1051904, tt2294449, tt1013752, t..."
16,Media Rights Capital,"[tt2820852, tt2637276, tt1823672, tt1956620, t..."
17,One Race Films,"[tt2820852, tt1618442]"
18,Regency Enterprises,"[tt1663202, tt1596363, tt1243974, tt2358925, t..."
19,Appian Way,"[tt1663202, tt1152836, tt1130884, tt1486185, t..."

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [54]:
studios['number_films'] = studios['imdb_id_list'].apply(lambda x: len(x))
studios[studios['number_films'] == studios['number_films'].max()]['companies']

14    Universal Pictures
Name: companies, dtype: object

In [55]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [56]:
#Получение списка фильмов, снятых в 2015 году
films_2015 = list(data[data['release_year'] == 2015]['imdb_id'])

#функция подсчёта числа фильмов, находящихся в списке фильмов 2015 года
def film_counter(studio_film_list):
    count = 0
    for film in studio_film_list:
        if film in films_2015:
            count +=1
    
    return count
#Создание столбца с числом фильмов, выпущенных в 2015 году
studios['number_films_2015'] = studios['imdb_id_list'].apply(film_counter)

#Вывод студии, соответствующей заданию
studios[studios['number_films_2015'] == studios['number_films_2015'].max()]['companies']

39    Warner Bros.
Name: companies, dtype: object

In [57]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [58]:
#Получение списка комедийных фильмов
films_comedy = list(data[data['genres'].str.contains('Comedy')]['imdb_id'])

#функция подсчёта суммы прибыли, которую получили компании за комедию
def film_profit_comedy(st_film_list):
    profit = 0
    for film in st_film_list:
        if film in films_comedy:
            profit += data[data['imdb_id'] == film]['profit'].iloc[0]
    
    return profit
#Создание столбца с прибылью от комедий
studios['profit_comedy'] = studios['imdb_id_list'].apply(film_profit_comedy)

#Вывод студии, соответствующей заданию
studios[studios['profit_comedy'] == studios['profit_comedy'].max()]['companies']

14    Universal Pictures
Name: companies, dtype: object

In [59]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [60]:
#Получение списка фильмов, снятых в 2012 году
films_2012 = list(data[data['release_year'] == 2012]['imdb_id'])

#Функция подсчёта суммы прибыли, которую получили компании за фильмы 2012 года
def film_profit_2012(st_film_list):
    profit = 0
    for film in st_film_list:
        if film in films_2012:
            profit += data[data['imdb_id'] == film]['profit'].iloc[0]
    
    return profit
#Создание столбца с прибылью от комедий
studios['profit_2012'] = studios['imdb_id_list'].apply(film_profit_2012)

#Вывод студии, соответствующей заданию
studios[studios['profit_2012'] == studios['profit_2012'].max()]['companies']

34    Columbia Pictures
Name: companies, dtype: object

In [61]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [62]:
#Составляем список фильмов от компании Paramount Pictures
paramount_films = studios[studios['companies'] == 'Paramount Pictures']['imdb_id_list'].iloc[0]
#Ищем id фильма с минимальным значением по прибыли 
data.iloc[data[data['imdb_id'].isin(paramount_films)]['profit'].idxmin()]['original_title']

'K-19: The Widowmaker'

In [63]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [64]:
data.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).head(10)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
Name: profit, dtype: int64

In [65]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [66]:
#Оставляем только записи фильмов, принадлежащих компании Warner Bros
warner_df = data[data['production_companies'].str.contains('Warner Bros')]

warner_df.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [67]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [68]:
#Выделение столбца с месяцем
data['release_month'] = data['release_date'].apply(lambda date: date.month)

In [69]:
#группировка фильмов по месяцам с последующей сортировкой по числу фильмов по убыванию
data.groupby(['release_month'])['imdb_id'].count().sort_values(ascending = False)

release_month
9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

In [70]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [71]:
#группировка данных по месяцам с последующим выделением летних месяцев и подсчётом суммы
data.groupby(['release_month'])['imdb_id'].count().iloc[5:8].sum()

450

In [72]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [73]:
#Группирование зимних фильмов по режиссёрам с последующим подсчётом числа фильмов
data[data['release_month'].isin([1,2,12])].groupby(['director'])['imdb_id'].count().sort_values(ascending = False)

director
Peter Jackson                    7
Clint Eastwood                   6
Steven Soderbergh                6
Shawn Levy                       4
Adam Shankman                    4
                                ..
Matt Reeves                      1
Matthew O'Callaghan              1
Matthew Vaughn                   1
McG                              1
Aaron Seltzer|Jason Friedberg    1
Name: imdb_id, Length: 333, dtype: int64

In [74]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [75]:
#Создадим сводную таблицу, со столбцами - месяцами, строками - годами, 
#а агрегирующая функция - сумма по profit
profit_months = data.pivot_table(values = ['profit'],
                                columns = ['release_year'],
                                index = ['release_month'],
                                aggfunc = 'sum')
display(profit_months)

                   profit                                                  \
release_year         2000        2001        2002        2003        2004
release_month
1               -26344591   127876758    13657034   145423503   223449403
2               310137593   178360689   557847442   422979087   727540831
3               490709929   396218262   832386092   160261385   307233119
4               124362846   659725033   343737203   479653942   275005057
5              1382722190   767934975  1421928692  2000292657  2412578839
6               517315528   780612105   747704475   406445507  1294266591
7               563809888   873718941   629306797  1356384641   834850950
8               264018332   726979609   579318434   444992536   332763539
9               175306761    21874909   417267245   503313816   475369751
10              399938512   146204533   420527680   837090991   593314410
11              487934818  1567240927  1190606216   609390731  1050846495
12             1411487999  1703868124  1848074177  1862594516  1106961735

                                                                           \
release_year         2005        2006        2007        2008        2009
release_month
1               419099490   138996816    91188025   440344541   996529660
2               506931359   317624889   500661304   987454669   326413800
3               440128754   799504296   714586308   251671904  1276096794
4               178673498   361121653   143245753   720571689   651749767
5              1575566228   985092012  2042169546  1744305931  1435747314
6              1193230558  2098059770  2764341802  1943384763  1520284741
7               870215460   242337901   747619985  1791301749  1202339588
8               266644459   429249082   881421482   325382603   803565587
9               995622427   451456811   435838557   339476350   393041320
10              154493344   826087838   516228592  1145762453   836577088
11             1027204825  1106305898   896805244   847289768   558158975
12             1354115156   935240354  1831805203  1126935570  3423239738

                                                                           \
release_year         2010        2011        2012        2013        2014
release_month
1               233051923   591644835   381045653   449051535   541637085
2               671341193   642751509   573073426   509981099   736685970
3              1471122239  1443419914  1459834347   970223425  1768873778
4               841530415  1507477958  1767272417  1423545114   795767674
5              1105092975  1917491757  1140614925  1724496337  2279978281
6              2449561498  1524706926  2965481705  2411922008  1176264662
7              1567485183  2331661017   940512033  1192996016  1611081683
8               971023396   667283164   702588445   590070005  1163610627
9              1091274243   733166385  1308166465  1165693297   596366679
10             1080204976   968743489  1320250459  1042812263  1764509467
11              736020890   859313689  2412991475  2047380217  2043956761
12              899583599  1542580698  1105170337  1715008475  1919080286


release_year         2015
release_month
1               630233784
2               884789565
3               937945994
4              2602565518
5              1103503482
6              3757679861
7              1552273188
8               491699146
9              1775686025
10              942161764
11             1212708544
12             2777325507

In [76]:
profit_months['profit'].columns

Int64Index([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
            2011, 2012, 2013, 2014, 2015],
           dtype='int64', name='release_year')

In [77]:
import collections

#Создадим список самых прибыльных месяцев по годам
year_list = []
for year in profit_months['profit'].columns:
    #В цикле по годам заполняем список самых прибыльных месяцев по годам 
    year_list.append(profit_months['profit'][year].idxmax())

#Посчитаем частоту встречаемости месяцев
c = collections.Counter()
for elem in year_list:
    c[elem] +=1
print(c.most_common(1))

[(6, 7)]

In [78]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [79]:
#Функция вычисления средней длины названия фильмов из списка
def title_length_counter(id_list):
    length_list = []
    for film in id_list:
        length_list.append(len(data[data['imdb_id'] == film]['original_title'].iloc[0]))
    return np.mean(length_list)

#Создание столбца со средней длиной названия
studios['original_title_length'] = studios['imdb_id_list'].apply(title_length_counter)

studios.iloc[studios['original_title_length'].idxmax()][['companies','original_title_length']]

companies                Four By Two Productions
original_title_length                         83
Name: 1506, dtype: object

In [80]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [81]:
#Функция вычисления средней длины (по количеству слов) названия фильмов из списка
def title_length_word_counter(id_list):
    length_list = []
    for film in id_list:
        length_list.append(len(data[data['imdb_id'] == film]['original_title'].iloc[0].split(' ')))
    return np.mean(length_list)

#Создание столбца со средней длиной (по количеству слов) названия
studios['original_title_length_words'] = studios['imdb_id_list'].apply(title_length_word_counter)

studios.iloc[studios['original_title_length_words'].idxmax()][['companies','original_title_length_words']]

companies                      Four By Two Productions
original_title_length_words                         12
Name: 1506, dtype: object

In [82]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [83]:
#Список слов
word_list = []
import re
#Шаблон слова
word_pattern = re.compile('\S+')

#Функция, работающая с внешним списком слов
def find_word(title):
    #Список найденных слов
    find_lt = word_pattern.findall(title)
    for word in find_lt:
        if not(word.lower() in word_list):
            #Если слова в нижнем регистре нет в списке, добавить
            word_list.append(word.lower())
    return 1

data['original_title'].apply(find_word)
len(word_list)

2461

In [84]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [85]:
#Вывести строки с сортировкой по убыванию рейтинга, 
#входящие в 1% лучших (число строк делится на 100 и округляется): 
#оставить столбцы с названием и рейтингом фильмов 
data[['original_title','vote_average']].sort_values('vote_average',
ascending = False).iloc[0:round(len(data)/100)]

                                         original_title  vote_average
600                                     The Dark Knight           8.1
125                                  The Imitation Game           8.0
9                                            Inside Out           8.0
118                                        Interstellar           8.0
34                                                 Room           8.0
1082      The Lord of the Rings: The Return of the King           7.9
873                                         The Pianist           7.9
1801                                            Memento           7.9
1192                                   12 Years a Slave           7.9
128                                           Gone Girl           7.9
138                            The Grand Budapest Hotel           7.9
119                             Guardians of the Galaxy           7.9
1184                            The Wolf of Wall Street           7.9
370                                           Inception           7.9
316                                            3 Idiots           7.8
1564              Eternal Sunshine of the Spotless Mind           7.8
497   The Lord of the Rings: The Fellowship of the Ring           7.8
28                                            Spotlight           7.8
1214                                 Dallas Buyers Club           7.8

In [86]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [87]:
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1363528810,6
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,228436354,5
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,185238201,3
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1868178225,12
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015,1316249360,4

In [88]:
#сформируем список актёров
cast_lt = []
def cast_listing(cast):
    temp_cast_lt = cast.split('|')
    for actor in temp_cast_lt:
        if not(actor in cast_lt):
            cast_lt.append(actor)
    return 1

data['cast'].apply(cast_listing)
len(cast_lt)

3408

In [89]:
#Оценим число сочетаний, 
#которые надо будет оценить в случае решения задачи в общем виде, рассматривая пары актёров
import math
C_cast = math.factorial(len(cast_lt))//(2*math.factorial(len(cast_lt)-2))
C_cast

5805528

In [90]:
#Для упрощения решения задачи, рассмотрим пары актёров из предложенных в вариантах ответов,
#и выберем наиболее часто встречающиеся

#Список пар актёров
duet_cast_lt = [['Johnny Depp','Helena Bonham Carter'],
                ['Hugh Jackman','Ian McKellen'],
                ['Vin Diesel','Paul Walker'],
                ['Adam Sandler','Kevin James'],
                ['Daniel Radcliffe','Rupert Grint']]

#Создадим словарь, ключи которого представляют собой порядковый номер пары в листе
duet_cast_count = { 0:0, 1:0, 2:0, 3:0, 4:0}

#Функция, осуществляющая подсчёт числа фильмов, в которых снимаются рассматриваемые пары актёров
def duet_analyzer(cast):
    temp_cast_lt = cast.split('|')
    for i, pair in enumerate(duet_cast_lt):
        if (pair[0] in temp_cast_lt) and (pair[1] in temp_cast_lt):
            duet_cast_count[i] +=1
    return 1  

data['cast'].apply(duet_analyzer)
#Выведем номер варианта с максимальным значением, инвертируя словарь
inverse = [(value, key) for key, value in duet_cast_count.items()]
max(inverse)[1]

4

In [91]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [92]:
#общее число фильмов у каждого из режиссёров
total_df = data.groupby(['director'])['profit'].count()
#число фильмов в прибыли у каждого из режиссёров
positive_df = data[data['profit']>0].groupby(['director'])['profit'].count()

#Оценим теперь, у кого из режиссёров наибольшая вероятность снять фильм в прибыли
(positive_df/total_df).sort_values(ascending = False)[['Quentin Tarantino', 
'Steven Soderbergh','Robert Rodriguez','Christopher Nolan', 'Clint Eastwood']]

director
Quentin Tarantino    1.000000
Steven Soderbergh    0.769231
Robert Rodriguez     0.857143
Christopher Nolan    1.000000
Clint Eastwood       0.833333
Name: profit, dtype: float64

In [93]:
#Так как за пальму первенства борятся 2 режиссёра со 100% вероятностью прибыльности,
#сравним их по числу отснятых фильмов (с положительной прибыльностью) 
positive_df[['Quentin Tarantino','Christopher Nolan']]

director
Quentin Tarantino    5
Christopher Nolan    8
Name: profit, dtype: int64

In [94]:
answer_ls.append(4)

# Submission

In [95]:
len(answer_ls)

36

In [96]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4